services:
  api:
    build: .
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
      - FRONTEND_URL=https://frontend-alpha-rosy-16.vercel.app
    networks:
      - tunnel-network

networks:
  tunnel-network:
    name: tunnel-network
    external: true
